body {
    margin: 0;
    padding: 0;
    background-color: black;
}


    div {
    position: absolute;
    background-image: url(images/laGaule.JPG) no-repeat;
    width: 780px;
    height: 675px;
    }

        .Aremocica1 {
            
            }
        .Lutetia2 {
           
            }
        .Silva-Carbonaria3 {
            
            }
        .Senonia5 {
            
            }

        .Arduenna-Silva6 {
            
            }
        
        .Maxima-Sequanorum7 {
            
            }

        .Silva-Nigra8  {
           
            }

        .Pictavis9 {
            
            } 

        .Gergovia10 {
           
            }
        
        .Lungdunensis11 {
           
            }
        
        .Helvetia12 {
           
            }

        .Insubria13 {
           
            }
        
        .Aquitania14 {
           
            }
        
        .Narbonesis15 {
           
            }
        
        .Transalpina16 {
            
            }
        
        .Liguria17 {
        
            }

